body {
	background-image: url('space_pic_3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}


#flexbox {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#heading {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	font-size: 200%;

}


a {
	color: white;
	text-decoration: none;
}

#the-welcome {
	/*background-color: darkblue;*/
	color: white;
	text-align: center;
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 300px;
	margin-bottom: 300px;

}